* {font-family: Courier, monospace;color:  black;;}
* {background-color: pink;}
p {
  color: blue;
  font-weight: bold;
  font-size: 150%;
}

.special {
  background-color: tan;
  padding: 20px;
  margin: 10px;
  border: solid 1px black;
  border-radius: 20px;
}

#output {
  background-color: tan;
  padding: 20px;
  margin: 10px;
  border: solid 1px black;
  border-radius: 20px;
}
