* {font-family: Courier, monospace;color:  black;;}
* {background-color: pink;}

h1 {
  color: orange;
  font-size: 400%;
  text-indent: 20px;
}

p {
  text-indent: 50px;
  color: red;
  font-size: 200%;
}

#content {
  border: solid 5px;
}
